<%= link_to 'Home', root_path %>
<%= link_to 'Add New Instructor', new_instructor_path %>

<h2> INSTRUCTORS </h2>
<table>
  <tr>
    <th>
      FIRST NAME
    </th>
    <th>
      LAST NAME
    </th>
  </tr>

  <% @instructors.each do |instructor| %>
  <tr>
    <td>
      <%= link_to {link_to(instructor.first_name, instructor)} %> <br>
    </td>
    <td>
    </td>
  </tr>
</table>


 <% end %>
