<%= link_to 'Home', root_path %>

<%= link_to 'Add New Course', new_course_path %>

<h2> COURSES </h2>
<table>
  <tr>
    <th>
      SUBJECT
    </th>

  </tr>

  <% @courses.each do |course| %>
  <tr>
    <td>
      <%= link_to {link_to(course.subject, course)} %> <br>
    </td>
    <td>
      <%= course.instructor %> <br>

    </td>
  </tr>
</table>


 <% end %>
